*{
    box-sizing: border-box;
}

html{
    font-family: 'Anaheim', sans-serif;
}

body{
    display:flex; 
    flex-direction:column;

}

header{
    display:flex; 
}

header div {
    width:20%;
}

img {
    width:40px;
}

header nav {
    background-color: grey;
    flex-grow:1;
    display:flex;

}

header nav a {
    text-decoration: none;
    flex-grow:1;
    color: white;
    border-left: 1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav a .home {
    flex-grow:1;
}

.home {
    position:relative; 
}

.home img {
width: 100%;
}

.home .intro {
    position: absolute;

}


.brief {
    background-color: lightgrey;
}

.plan {
    display:flex; 
    background-color: #232323;   
    width: auto;
    height: 300px;

}

.plan .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; 
    overflow:hidden;
}

.plan h3 {
    color: #54be90; 
    font-style: bold;
    font-weight: 900px;
    font-size: 2em;
    padding-top: 20px;
}

.plan p {
    color: white; 
    font-size: 1em;
    margin: 40px;
    margin-top:0;
    padding: 0;
}

.plan .circle {
    width: 125px; 
    height: 125px;
    border-radius: 50%; 
    position: absolute; 
    background-color:lightgrey;
    top: -80px;

}

.skills {
    display:flex; 
    flex-direction: column;
    align-content: center;
    margin: 100px;

}

.skills h2 {
    font-size: 3em; 
    color: #54be90;
    text-align: center;
}

.skills > div {
    display: flex;
    position: relative; 
    background-color: lightgrey;
    margin: 5px 120px;
}

.skills .skill {
    width: 5em;
    background-color: #232323;
    font-size: 2em;
    color:white;
}

.skills .bar {
    background-color: #54be90;
    width:50px;
    flex-basis: 0; 
}

.skills .padding {
    flex-basis: 0; 
}

.skills .number {
    background-color: lightgrey;
    position: absolute;
    right: 0; 
    top: 0;
    height:100%;
    display:flex;
    align-items:center;
    padding-right: .5em;
}

.skills > div.HTML .bar {
    flex-grow:80;
}

.skills > div.HTML .padding {
    flex-grow:20;
}

.skills > div.Css .bar {
    flex-grow:80;
}

.skills > div.Css .padding {
    flex-grow:20;
}

.skills > div.Javascript .bar {
    flex-grow:70;
}

.skills > div.Javascript .padding {
    flex-grow:30;
}

.skills > div.React .bar {
    flex-grow:60;
}

.skills > div.React .padding {
    flex-grow:40;
}

.skills > div.jQuery .bar {
    flex-grow:70;
}

.skills > div.jQuery .padding {
    flex-grow:30;
}

.skills > div.PHP .bar {
    flex-grow:60;
}

.skills > div.PHP .padding {
    flex-grow:40;
}

.skills > div.Lavarel .bar {
    flex-grow:60;
}

.skills > div.Lavarel .padding {
    flex-grow:40;
}

.skills > div.UX .bar {
    flex-grow:50;
}

.skills > div.UX .padding {
    flex-grow:50;
}



.portfolio {
    background-color: #54be90;
    display:flex;
}

.portfolio div{
    flex-wrap: wrap;
}

.portfolio h2 {
    color: white;
}

/* portfolio has 6 elements Wrapped 
and then each element is a flexbox with two elemtns going down */








.aboutme {
    background-color: lightgrey;
    display:flex;
}